{% extends "layout.html" %}
{% block content %}

{% if current_user.is_authenticated %}
<h2>
    Welcome
    {% if current_user.username == None %}
        {{ current_user.email }}
    {% else %}
        {{ current_user.username }},
    {% endif %}
</h2>
{% endif %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}